.fade-enter-active, .fade-leave-active {
    transition: opacity .5s, transform .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
    transform: translateX(-50%);
}
.card {
    width: 300px;
}
.no-bullet li {
    list-style: none;
}